@(appraisals: List[Appraisal])

@main("Appraisal") {
	
	<article class="full-block clearfix">
		<div class="article-container">
			<header>
				<h2>Appraisals</h2>
			</header>
			<section>
				<div class="tab default-tab" id="tab0">
				<form class="table-form">
					<table>
					<thead>
						<tr>
						  <td style="text-align: left"><strong>#</strong></td>
							<td style="text-align: left"><strong>Section</strong></td>
							<td style="text-align: left"><strong>Description</strong></td>
							<td><strong>Score</strong></td>
						</thead>
					</thead>
					<tbody>
					 @for(appraisal <- appraisals) {
						<tr>
						  <td style="text-align: left">@appraisal.id</td>
							<td style="text-align: left">@appraisal.periodId</td>
							<td style="text-align: left">@appraisal.periodId</td>
							<td>@appraisal.periodId</td>
						</tr>
						}
					</tbody>
					</table>
				</form>
			</section>
		</div>
	</article>
}