@(form: Form[(String,String)])(implicit flash: Flash)
<!doctype html>
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>Login | Prism</title>
	<meta name="description" content="">
	<meta name="author" content="Mark P Ashworth">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="@routes.Assets.at("/favicon.ico")">
	<link rel="apple-touch-icon" href="@routes.Assets.at("/apple-touch-icon.png")">
	
	<link rel="stylesheet" href="@routes.Assets.at("css/style.css")">
	<link rel="stylesheet" href="@routes.Assets.at("css/colors.css")">
	<link rel="stylesheet" href="@routes.Assets.at("css/jquery.tipsy.css")">
	
	<!-- Google WebFonts -->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
	
	<script src="@routes.Assets.at("js/libs/modernizr-1.7.min.js")"></script>
</head>
<body class="login">
	<section role="main">
	
		<a href="/" title="Back to Homepage"></a>
	
		<!-- Login box -->
		<article id="login-box">
		
			<div class="article-container">
			
				<p>Login message. </p>
							
				@helper.form(routes.Application.authenticate) {
					@form.globalError.map { error =>
						<div class="notification error">
							<a href="#" class="close-notification" title="Hide Notification" rel="tooltip">x</a>
							<p><strong>Error notification</strong> @error.message</p>
						</div>
		            }
		            
		            @flash.get("success").map { message =>
		            	<div class="notification success">
							<a href="#" class="close-notification" title="Hide Notification" rel="tooltip">x</a>
							<p><strong>Error notification</strong> @message</p>
						</div>
		            }
		            
					<fieldset>
						<dl>
							<dt>
								<label>Email</label>
							</dt>
							<dd>
								<input type="email" name="email" placeholder="Email" class="large" value="@form("email").value">
							</dd>
							<dt>
								<label>Password</label>
							</dt>
							<dd>
								<input type="password" name="password" placeholder="Password" id="password" class="large">
							</dd>
							<dt class="checkbox"><label>Remember me</label></dt>
							<dd><input type="checkbox"></dd>
						</dl>
					</fieldset>
					<button type="submit" class="right">Log in</button>
				}
			</div>
		
		</article>
		<ul class="login-links">
			<li><a href="#">Lost password?</a></li>
			<li><a href="#">Wiki</a></li>
			<li><a href="#">Back to page</a></li>
		</ul>
		
	</section>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="js/jquery/jquery-1.5.1.min.js"%3E%3C/script%3E'))</script>
	<script src="@routes.Assets.at("js/libs/selectivizr.js")"></script>
	<script src="@routes.Assets.at("js/jquery/jquery.tipsy.js")"></script>
	<script src="@routes.Assets.at("js/login.js")"></script>
</body>
</html>